<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>de.enl1qhtnd.windburst.helper</string>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>de.enl1qhtnd.windburst</string>
    </array>
    <key>MachServices</key>
    <dict>
        <key>de.enl1qhtnd.windburst.helper</key>
        <true/>
    </dict>
    <key>BundleProgram</key>
    <string>Contents/MacOS/WindburstHelper</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
